튜플 만들기

튜플은 리스트와 거의 비슷하지만 약간의 차이가 있다.  
리스트는 데이터를 []로 감싸지만 튜플은 ()로 감싼다.  
리스트는 데이터 요소의 수정 및 삭제가 가능하지만 튜플은 불가능하다.

In [4]:
# 빈 튜플 만들기
a = ()
print(a)
print(type(a))
print('=' * 80)

# 빈 튜플은 생성자 함수를 사용해서도 만들 수 있다.
b = tuple()
print(b)
print(type(b))
print('=' * 80)

()
<class 'tuple'>
================================================================================
()
<class 'tuple'>
================================================================================

In [7]:
# 데이터가 1개인 리스트
a = [1]
print(a)
print(type(a))
print('=' * 80)

# 데이터가 1개인 튜플을 만들려는 경우 ()만 사용하면 ()를 튜플로 인식하는 것이 아니고 일반 연산식의 우선순위 지정에 사용하는 ()로 인식한다.
b = (1) # <class 'int'>
print(b)
print(type(b))
print('=' * 80)

# 데이터가 1개인 튜플
# 데이터가 1개인 튜플을 만들려면 ()안의 데이터 뒤에 ','를 반드시 써야한다.
c = (1,)
print(c)
print(type(c))
print('=' * 80)

[1]
<class 'list'>
================================================================================
1
<class 'int'>
================================================================================
(1,)
<class 'tuple'>
================================================================================

In [5]:
# 초기치를 가지는 튜플
a = (1,2,3)
print(a)
b = ('a','b','c')
print(b)
c = (1,'a',2,'b')
print(c)
d = ('a','b','c',(1,2,3))
print(d)
e = ('a','b','c',[1,2,3])
print(e)
f = ['a','b','c',(1,2,3)]
print(f)

(1, 2, 3)
('a', 'b', 'c')
(1, 'a', 2, 'b')
('a', 'b', 'c', (1, 2, 3))
('a', 'b', 'c', [1, 2, 3])
['a', 'b', 'c', (1, 2, 3)]

튜플은 리스트와 같이 인덱싱과 슬라이싱이 가능하다.

In [15]:
a = ('a', 'b', ('ab','cd'))
print(a)
print(a[0])
print(a[2])
print(a[-1])
print(a[2][1])
print(a[0:2])
print(a[:2])
print(a[1:2])
print(a[1:3])
print(a[1:])
print(a[:])
print(a[::-1])

('a', 'b', ('ab', 'cd'))
a
('ab', 'cd')
('ab', 'cd')
cd
('a', 'b')
('a', 'b')
('b',)
('b', ('ab', 'cd'))
('b', ('ab', 'cd'))
('a', 'b', ('ab', 'cd'))
(('ab', 'cd'), 'b', 'a')

튜플은 리스트와 같이 덧셈(연결) 연산과 곱셈(반복) 연산이 가능하다.

In [17]:
a = (1,2,3)
print(a+(4,5,6))
print(a*3)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

튜플을 만들때 ()로 데이터를 묶지 않고 하나의 변수에 ','로 여러 개의 데이터를 구분해서 넣으면 튜플로 인식한다.

In [20]:
a = 1,2,3,4,5
print(type(a))
print(a)

<class 'tuple'>
(1, 2, 3, 4, 5)

튜플은 리스트와 다르게 데이터의 수정 및 삭제를 할 수 없으므로 에러가 발생된다.

In [22]:
a = 1,2,3,4,5
# a[0] = 999 # 'tuple' object does not support item assignment
# del a[0] # 'tuple' object doesn't support item deletion

TypeError: 'tuple' object doesn't support item deletion

In [23]:
# del 명령을 사용해서 튜플 자체를 삭제하는 것은 가능하다.
a = 1,2,3,4,5
print(a)
del a
# print(a) # name 'a' is not defined

(1, 2, 3, 4, 5)

NameError: name 'a' is not defined